a {text-decoration: none; }
a:link {text-decoration:underline; color: blue; } /*Darle color al enlace*/
a:visited {text-decoration:none; color: purple; } /*Darle color al enlace visitado*/
a:active {text-decoration:none; color: green; } /*Darle color y decoración al enlace activo*/
a:hover {text-decoration:underline;color: green; } /*Darle color al enlace por el cual está pasando el puntero*/

body { background-color: white; } /*Color de fondo de la página*/
* {
  font-family: Arial;
  padding: 0px; /*Propiedades de toda la página, fuente y distancias de los bordes*/
  margin: 0px;
}
#opciones /*Posición y borde de la tablilla de opciones "Hola admin" y "Salir" */
{
  margin-top: 10px;
  border-radius: 20px;
  border: 1px solid #A9F5F2;
  float: right;
  padding: 5px;
  padding-left: 13px;
  padding-right: 13px;
  margin-right: 80px;
}
#salir 
{
  font-size: 15px;
  padding-left: 5px;
}
h1 {
  margin-left: 6% ;
  text-align: left;
  font-size:20px;
  clear: left;
}
#image{ 
  margin: 5px; /*Aplicarle un margen a la imagen a su alrededor*/
  float:left;
}
#container { /*Contenedor principal donde funcionan las pestañas*/
  margin-top: -20px; /*Distancia entre el objeto y el header*/
  margin-left: 20%; /*Distancia entre el contenedor y el margen derecho*/
  width: 60%; /* Ancho del contenedor */
  text-align: center;
}

.enlace
{
  font-size: 20px;
  font-style: inherit;
  margin-right:53px;
}

#students{
  width: 800px;
  text-align: left;
  margin-top: 20px;
  
}
.notice{
  color: black;
  font-size: 12px;
}
#add{
  margin-left:5px;
}
#personalinfo
{
  width: 450px;
  height: 130px;
  margin-top: 20px;
  float: left;
  margin-left: 30px;
}
#name{
  margin-left:25px;
}

#career
{
  margin-left:94px;
  width: 168px;
}

#projects
{
  margin-top: -50px;
  width: 750px;
  height: 200px;
  margin-left: 30px;
  clear:both;
  text-align: center;
}
#projectbox
{
  margin-left: 5px;
  margin-right: 5px; 
  width: 90%;
  height: 170px;
  margin-bottom: 9px;
}
.enviar
{
  margin-top: 10px;
  float:right;
  margin-right: 20px;
}
#fotoperfil
{
  width: 130px;
  height: 130px;
  margin-top: 70px;
  float: left;
  position: absolute;
  margin-left: 140px;
}
#subir{
  margin-top:132px;
  margin-left: 45px;
  width: 90px;
}
.enviar2{
  visibility: hidden;
}
:disabled{
  background-color: white;
}